.BodyHeader{
    background-size: cover ;
    background-repeat: no-repeat;
    align-items: center;
   
}
.HeaderImage{
    align-items: center;
    margin-top: 20px;

}
img{
    
    width: 1200px;
    height:273px;
}
.ShopCategory {
    display: flex;
}

.imageContainer {

    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    margin-top: 20px;
}

.ShopCategory{
    justify-content: center;
}


.imageContainer img {
    width: 223px;
    height: 250px;
}

.imageContainer p {
    margin-top: 5px;
    text-decoration: none;
}
.BestSellCategory{
    display: flex;
    justify-content: center;

}

.BestSellimageContainer{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    margin-top: 20px;

}
.BestSellimageContainer img{
    width: 284px;
    height: 370px;
}
.BodyHeader ,h4,p{
    text-decoration: none;
    color: black;
}
.ShopCategory p{
    text-decoration: none;
    color: black;
}
p{
   
    color: black;
}
h3{
    color: black;
}
.BestSellerH3, .ShopCategoryH3 , .BestSellP{
    color: black;
}

.linkWithoutDecoration {
    text-decoration: none;
  }
  .BestSellimageContainer h4{
    color: black;
  }
