

.ViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.MDBCard {
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-image {
  position: relative;
  overflow: hidden;
}

.bg-image img {
  transition: transform 0.3s ease;
}

.bg-image:hover img {
  transform: scale(1.1);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bg-image:hover .mask {
  opacity: 1;
}

.text-dark {
  color: black;
}

.CartBtn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.CartBtn:hover {
  background-color: #0056b3;
}

.WishListBtn {
  margin-left: 5px;
  background-color: #28a745;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.WishListBtn:hover {
  background-color: #218838;
}


@media (max-width: 768px) {
  .bg-image img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .bg-image img {
    height: 150px;
  }
}
