.Nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.input-Search {
  margin-right: 10px;
}

.center-section {
  flex-grow: 1;
  text-align: center;
}

.right-section {
  display: flex;
  margin-right:10px ;
}

.right-section > * {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.login-logo,
.wishlist-logo,
.cart-logo {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.navbar-second-line {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.link-text {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.link-text:hover {
  text-decoration: none;
}

.link-text:not(:last-child) {
  margin-right: 20px;
}
.navbar-third-line {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
  
 
  
}
.thrid-nav{
  margin-top: 10px;
  background-color: black;
  height: 30px;
}

.service-text {
  color: rgb(243, 237, 237);
  text-decoration: none;
  margin: 0px 10px 15px;
  font-weight: bold;
  margin-top: 15px;
  
}

.service-text:hover {
  text-decoration: none;
}

.service-text:not(:last-child) {
  margin-right: 20px;
}

.service-text {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-list {
  align-items: flex-start;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  width: 500px;
}

.service-text:hover .dropdown-list {
  display: block;
}

.dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 5px 0;
  color: #000;
}

.search-container {
  display: flex;
  align-items: center;
}

.input-Search {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  width: 200px;
  transition: border-color 0.3s ease;
}

.input-Search:focus {
  outline: none;
  border-color: #007bff;
}

.Search-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #042241;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Search-btn:hover {
  background-color: #0056b3;
}



  